.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Code coverage

/coverage

# Documentation output
/docsrc/output

# Storybook

storybook-static

# Local scratchpad document
scratchpad.md

# Yarn 2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions