---
version: '1.0.{build}'
image: Ubuntu

init:
  - sh: git config --global core.autocrlf true
  - sh: nvm use 8

install:
  - ps: $env:package_version = (Get-Content -Raw -Path package.json | ConvertFrom-Json).version
  - ps: Update-AppveyorBuild -Version "$env:package_version-$env:APPVEYOR_BUILD_NUMBER"

before_build:
  - sh: yarn

build_script:
  - sh: yarn build

after_build:
  # Copy anything that goes into the final package into '/package'
  - sh: mkdir -p package && cp dist/*.js dist/*.css package.json LICENSE README.md package
  # Zip up the package files, along with the .map files for debugging
  - sh: 7z a -tzip artifacts.zip ./package/* ./dist/*.map

test_script:
  - sh: yarn test

artifacts:
  - path: 'artifacts.zip'

deploy_script:
  - ps: |
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
        #TODO Remove --dry-run when we're good to go here.
        npm publish package/ --access public --dry-run
      }
...