html {
    font-family:'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

header {
    background: #212121;
    background: linear-gradient(to top, #373737, #212121);
    color: #ffffff;
}

header h1 {
    font-size: 42px;
    margin: 0;
}

h2 {
    border-bottom: gray dotted 1px;
}

header p.subtitle {
    font-size: 24px;
    font-weight: 300;
}

div.header-inner {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 10px;
    position: relative;
}

#github-banner {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url("../images/octocat.png") #0090ff no-repeat 95% 50%;
    font-weight: 700;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

body {
    background: #f2f2f2;
    padding: 0;
    margin: 0;
}

nav, main {
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    background: #f8f8f8;
}

a {
    text-decoration: none;
    color: #0F79D0;
}

a:hover {
    text-decoration: underline;
}

pre, code {
    color: #222;
    background-color: #fff;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

pre {
    padding: 10px;
    overflow: auto;
}

code {
    white-space: pre-wrap;
    padding: 3px;
}

table {
    border: 1px solid #373737;
    margin-bottom: 20px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    background: #373737;
    color: #fff;
    font-weight: 500;
}

td {
    padding: 10px;
    border: 1px solid #373737;
}
