.grtv-wrapper.grayscale {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: larger;
}

.grtv-wrapper.grayscale .grtvn {
    list-style: none;
    padding-left: 0;
}

.grtv-wrapper.grayscale .grtvn:first-child {
    margin-top: 0;
}

.grtv-wrapper.grayscale .grtvn[role=treeitem]:focus {
    outline: 0;
}

.grtv-wrapper.grayscale .grtvn[role=treeitem]:focus>.grtvn-self {
    outline: 1px dotted #000;
}

.grtv-wrapper.grayscale .grtvn-self {
    display: flex;
    align-items: flex-start;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

.grtv-wrapper.grayscale .grtvn-self-expander {
    padding: 0;
    background: none;
    border: none;
    height: 1.2rem;
}

.grtv-wrapper.grayscale .grtvn-self-expander i.grtvn-self-expanded-indicator {
    font-style: normal;
}

.grtv-wrapper.grayscale .grtvn-self-expander.grtvn-self-expanded i.grtvn-self-expanded-indicator {
    transform: rotate(90deg);
}

.grtv-wrapper.grayscale .grtvn-self-action,
.grtv-wrapper.grayscale .grtvn-self-checkbox,
.grtv-wrapper.grayscale .grtvn-self-expander,
.grtv-wrapper.grayscale .grtvn-self-radio,
.grtv-wrapper.grayscale .grtvn-self-spacer {
    min-width: 1rem;
}

.grtv-wrapper.grayscale .grtvn-self-expander,
.grtv-wrapper.grayscale .grtvn-self-spacer {
    margin: 0;
}

.grtv-wrapper.grayscale .grtvn-self-checkbox,
.grtv-wrapper.grayscale .grtvn-self-radio {
    margin: 0 0 0 -1.2rem;
}

.grtv-wrapper.grayscale .grtvn-self-label,
.grtv-wrapper.grayscale .grtvn-self-text {
    margin-left: 1.2rem;
}

.grtv-wrapper.grayscale .grtvn-self-action {
    padding: 0 0 0 5px;
    background: none;
    border: none;
    height: 1.2rem;
}

.grtv-wrapper.grayscale i.grtvn-self-add-child-icon {
    font-style: normal;
}

.grtv-wrapper.grayscale i.grtvn-self-delete-icon {
    font-style: normal;
}

.grtv-wrapper.grayscale .grtvn-children {
    margin: 0 0 0 2.2rem;
    padding: 0;
    list-style: none;
}

.grtv-wrapper.grayscale .action-button:hover {
	background: #eee;
	border-radius: 50%;
}