<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Slot Usage</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="../../dist/vue-tree.umd.js"></script>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="../../dist/vue-tree.css">
  </head>
  <body>
    <div class="container">
      <h1>Slot Treeview Demo</h1>
      <div id="app">
        <div id="app">
          <tree id="customtree" :initial-model="model">

            <template #text="{ model, customClasses }">
              <span>{{ model.label }}. Custom Classes: {{ JSON.stringify(customClasses) }}</span>
            </template>

            <template #checkbox="{ model, customClasses, inputId, checkboxChangeHandler }">
              <label :for="inputId" :title="model.title">

                <input :id="inputId"
                       type="checkbox"
                       :disabled="model.state.input.disabled" v-model="model.state.input.value"
                       @change="checkboxChangeHandler" />

                <marquee style="max-width: 6rem">{{ model.label }}. Custom Classes: {{ JSON.stringify(customClasses) }}</marquee>
              </label>
            </template>

            <template #radio="{ model, customClasses, inputId, inputModel, radioChangeHandler }">
              <label :for="inputId" :title="model.title">

                <input :id="inputId"
                       type="radio"
                       :name="model.input.name"
                       :value="model.input.value"
                       :disabled="model.state.input.disabled"
                       v-model="inputModel"
                       @change="radioChangeHandler" />

                <span style="font-weight: bolder">{{ model.label }}. Custom Classes: {{ JSON.stringify(customClasses) }}</span>
              </label>
            </template>

          </tree>
        </div>
      </div>
    </div>

    <script type='module'>
    import slotsData from './slots.js';

    new Vue({
      components: {
        tree: window['vue-tree']
      },
      data() {
        return {
          model: slotsData,
          checkedNodes: []
        };
      },
      methods: {
        refreshCheckedList() {
          this.$set(this, 'checkedNodes', this.$refs.tree.getCheckedCheckboxes());
        }
      }
    }).$mount('#app')
    </script>
  </body>
</html>