nav h2 {
    margin-left: .5rem;
}

details > summary > div.sourceCode {
    display: inline-flex;
}

.demo-tree {
    border: #cccccc 1px solid;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.tree-processor-trigger {
    margin-top: 1rem;
}